body {
    background-color: #00b6fe66;
    color: white;
}

header {
    display: grid;
    grid-auto-flow: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #00b6fe66;
    color: white;
}

.main__container {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
    justify-items: center;
}

.form__box {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
    justify-items: center;
}

.progress__container {
    width: 90vw;
    background-color: rgb(177, 217, 255);
}

.progress__box {
    width: 100%;
    display: grid;
}

.progress__bar {
    display: grid;
    justify-items: center;
    justify-content: center;
    height: 10vh;
    background-color: rgb(0, 15, 155);
}


.progress__text {
    font-size: 3rem;
    margin: 0;
}

.progress__alert {
    color: rgb(245, 6, 6);
}

.task__box {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.task__form {
    display: grid;
    grid-template-columns: 60vw 1fr;
    grid-gap: 1rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.task__item {
    width: 100%;
    background-color: #00b6fe66;
    color: white;
    border-radius: 0.1rem;
    cursor: pointer;
}

.task__item:hover {
    color: #0e01c4;
    background-color: white;
}

.task__container {
    height: 100%;
    width: 90vw;
}

.task__text{
    display: grid;
    justify-content: center;
    width: 100%;
    padding: 0.3rem;
    font-size: 1.5rem;
    margin: 0;
}


.task__add  {
    width: 100%;
    font-size: 2rem;
    color: white;
}

.archive__box {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.archive__item {
    background-color: #0e01c4;
    color: white;
    cursor: pointer;
}

.archive__item:hover {
    color: #0e01c4;
    background-color: white;
}

.archive__container {
    height: 100%;
    width: 90vw;
}

.archive__text{
    display: grid;
    justify-content: center;
    width: 100%;
    padding: 0.3rem;
    font-size: 1.5rem;
    margin: 0;
    background-color: coral;
}

.text__form {
    width: 100%;
    background-color: rgb(177, 217, 255);
}

.form-control  {
    width: 100%;
    font-size: 2rem;
    background-color: #c6c7ff66;
    color:  #0e01c4;
}

.add__button {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    background-color:  #0e01c4;
    color: white;
    border-radius: 0.1rem;
}

.add__button:hover {
    color: #0e01c4;
    background-color: white;
}